* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Maven Pro', sans-serif;
}

body {
    width: 100%;
    height: auto;

}

.inactive{
    display: none;
}


:root {
    --principal: #FF9000;
    --fondo-imagen: #ff8411;
    --secundario: #FDFF9F;
    --title-principal: 5rem;
    --slogan: 3.5rem;
    --title: 2.5rem;
    --subtitle: 2rem;
    --text: 1.7rem;
    --negrita: 700;
    --seminegrita: 500;
}



/*menu principal*/
.navlar {
    background: #FDFF9F;
    width: 100%;
    height: 75px;
    position: sticky;
    border-bottom: 2px solid var(--principal);
}

.container-car-icon{
    display: none;
}
.container-images-navlar{
    position: absolute;
}

.logo-header {
    width: 200px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;

}

.logo {
    width: 100%;
    position: relative;
}

.navlar .btn-navlar-container {
    display: flex;
    position: relative;
    margin-right: 0;
    margin-left: auto;
}

.btn-navlar-container {
    width: 75%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.btn-head {
    width: 250px;
    height: 50px;
    background: var(--principal);
    border-radius: 5px;
    color: white;
    font-size: var(--text);
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.btn-head::after {
    content: '';
    width: 1px;
    height: 1px;
    position: absolute;
    background: #303a2a;
    z-index: 2;
    transition: 0.7s ease-in-out all;
    top: 50%;
    left: 50%;
    border-radius: 50%;

}

.btn-head span {
    z-index: 3;
    position: relative;
}

.btn-head:hover::after {
    transform: scale(150);
    transition: 0.3 ease-in-out all;
}

.btn-head:hover {
    background: black;
    transition: 0.3s ease-in-out all;
    
}

/*nombre de la empresa y slogan*/

.title-container {
    position: absolute;
    top: 150px;
    right: 100px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: var(--title-principal);
    font-family: 'Josefin Sans', sans-serif;
    z-index: 3;
    color: gray;
}

.slogan-container{
    position: absolute;
    top: 350px;
    right: 100px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: var(--slogan);
    font-family: 'Josefin Sans', sans-serif;
    z-index: 3;
    color: gray;
}



/*contenedor de imagenes en movimiento*/

.image-animation {
    position: relative;
    width: 60vw;
    height: 500px;
    overflow: hidden;
    top: 100px;
    border-radius: 30px;
    border: 5px solid var(--principal);
    z-index: 3;

}
@media (min-width:1500px) {
    .image-animation{
        height: 550px;
    }
}

.image-animation ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}

.image-animation li {
    width: 100%;
    list-style: none;
}

.image-animation img {
    width: 100%;
    height: 100%;
    position: relative;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/*franja naranja con texto e imagen*/
.fondo-naranja {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 1;
    top: 550px;
}

.fondo-naranja img {
    width: 100%;
    height: 100%;
    background: var(--fondo-imagen);
}

.image-animada {
    width: 500px;
    height: 500px;
    height: auto;
    position: absolute;
    z-index: 1;
    right: 50px;
}

.image-animada img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 650px;
}

.services {
    z-index: 1;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    font-size: var(--title-principal);
    text-align: center;
    width: 700px;
    top: 350px;
    left: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*contenedor de servicios*/

.container-services {
    z-index: 1;
    position: relative;
    top: 600px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.item-services {
    width: 350px;
    height: 375px;
    border-radius: 20px;
    box-shadow: 15px 15px 20px lightgray;
    display: flex;
    justify-content: center;
    background: var(--secundario);
    overflow: hidden;
}

.item-services .image-services-container {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30px;

}

.item-services .image-services-container img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.item-services p {
    position: absolute;
    bottom: 50px;
    font-size: 3rem;
    z-index: 1;
}

.item-services::after {
    content: '';
    width: 100%;
    height: 550px;
    background: var(--principal);
    position: relative;
    top: -575px;
    border-radius: 0 0 400px 400px;


}

.item-services:hover::after {
    top: -20px;
    transition: 0.5s ease-in-out all;
}

.item-services:hover {
    color: white;
    transition: 0.5s ease-in-out all;
    cursor: pointer;
}

/*footer*/
footer {
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1;
    top: 650px;
    background: #dfdedf;

}

.social-page-container {
    display: flex;
    justify-content: space-evenly;
    top: 20px;
    position: relative;
}

.image-social {
    width: 50px;
    height: 50px;
    position: relative;
}

.image-social:hover {
    scale: 1.4;
    filter: invert(60%) sepia(49%) saturate(3440%) hue-rotate(142deg) brightness(88%) contrast(101%);
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.copy {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 30px;
}

.copy p {
    position: relative;
    font-size: 2rem;
    top: 30px;
}

.container-menu-mobile{
    display: none;
}
.icon-menu-mobile{
    display: none;
}


/*contenedor sobre nosotros*/

.container-nos {
    width: 100%;
    height: auto;
    position: relative;
}

.image-principal-nos-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.container-images-text {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.image-principal-nos-container img {
    width: 100%;
    height: auto;
    position: relative;

}

.container-title-nos {
    width: 750px;
    height: 130px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    top: 400px;

    position: absolute;
}

.title-nos {
    text-align: center;
    font-size: 11rem;
    color: white;
    font-weight: 700;
}

.history-container{
    position: relative;
    width: 80%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    top: 100px;
    padding-bottom: 40px;
    box-shadow: 10px 10px 10px lightblue;
    border-radius: 20px;
}

.history-title{
    font-size: 4rem;
    padding-bottom: 40px;
    color: #457b9d;
}
.text-history{
    font-size: 2.5rem;
    padding: 0 50px;
    
}

.container-values{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 150px;
}



.values{
    width: 500px;
    height: 400px;
    box-shadow: 10px 10px 10px lightblue;
    border-radius: 50% 0 0 0;
    text-align: center;
    padding-top: 30px;
    background: #457b9d;
}
.title-values{
    padding-bottom: 30px;
    font-size: 4rem;
    color: white;
}
.text-values{
    padding: 0 50px;
    font-size: 1.8rem;
    color: white;
}


.integrants-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    justify-content: center;
    position: relative;
    top: 250px;
    gap: 30px;
    padding: 0 40px;
}

.target-integrant{
    width: 100%;
    height: 300px;
    position: relative;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    min-width: 250px;
    flex-wrap: nowrap;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #d8e2dc;
    z-index: 2;
}

.target-integrant:hover{
    transform: scale(1.1);
    transition: 1s ease all;
    z-index: 1;
}
.text-profession-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 230px;
    height: 50px;
}

.image-profile-container{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50px;
    
}

.image-profile-container img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.name-profile{
    font-size: 2rem;
    padding-bottom: 10px;
}
.profesion{
    font-size: 2rem;
}

/*footer*/

.footer-nos {
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 1;
    background: #dfdedf;
    top: 300px;
}

.social-page-container {
    display: flex;
    justify-content: space-evenly;
    top: 20px;
    position: relative;
}

.image-social {
    width: 50px;
    height: 50px;
    position: relative;
}

.image-social:hover {
    scale: 1.4;
    filter: invert(60%) sepia(49%) saturate(3440%) hue-rotate(142deg) brightness(88%) contrast(101%);
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.copy {
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 30px;
}

.copy p {
    position: relative;
    font-size: 2rem;
    top: 30px;
}

.container-menu-mobile{
    display: none;
}
.icon-menu-mobile{
    display: none;
}


@media(min-width: 1600px){
    .services{
        left: 150px;
    }
}