* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Maven Pro', sans-serif;
}

body {
    width: 100%;
    height: auto;

}

:root {
    --principal: #FF9000;
    --fondo-imagen: #ff8411;
    --secundario: #FDFF9F;
    --title-principal: 5rem;
    --title-principal-mobile: 4rem;
    --slogan: 3.5rem;
    --slogan-mobile: 3.2rem;
    --title: 2.5rem;
    --subtitle: 2rem;
    --text: 1.7rem;
    --negrita: 700;
    --seminegrita: 500;
}

.navlar {
    background: #FDFF9F;
    width: 100%;
    height: 60px;
    position: sticky;
    border-bottom: 1px solid var(--principal);

}

.container-images-navlar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.container-icon-menu {
    width: 40px;
    height: auto;
    position: relative;


}

.container-icon-menu img {
    width: 100%;
    position: relative;
}

.container-icon-menu img:hover {
    filter: invert(63%) sepia(28%) saturate(5862%) hue-rotate(351deg) brightness(101%) contrast(101%);
    transition: 0.2s ease all;
}



.logo-header {
    width: 125px;
    height: auto;
    position: relative;

}

.logo {
    width: 100%;
    position: relative;
}

.container-car-icon {
    width: 40px;
    height: auto;
    position: relative;


}

.container-car-icon img {
    width: 100%;
    position: relative;
}

.container-car-icon img:hover {
    filter: invert(63%) sepia(28%) saturate(5862%) hue-rotate(351deg) brightness(101%) contrast(101%);
    transition: 0.2s ease all;
}

.btn-navlar-container {
    display: none;

}


/*nombre de la empresa y slogan*/


.container{
    position: relative;
}

.title-container {
    position: relative;
    top: 30px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: var(--title-principal-mobile);
    font-family: 'Josefin Sans', sans-serif;
    z-index: 3;
    color: gray;
    position: relative;
}

.slogan-container {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: var(--slogan-mobile);
    font-family: 'Josefin Sans', sans-serif;
    z-index: 3;
    color: gray;
    position: relative;
    top: 80px;
}


/*contenedor de imagenes em movimiento*/


.image-animation {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    top: 100px;
    border-top: 2px solid var(--principal);
    border-bottom: 2px solid var(--principal);
    z-index: 2;
    position: relative;

}

.image-animation ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}

.image-animation li {
    width: 100%;
    list-style: none;
}

.image-animation img {
    width: 100%;
    height: 100%;
    position: relative;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}


/*franja naranja con texto e imagen*/
.fondo-naranja {
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 1;
    top: 75px;
    
}

.fondo-naranja img {
    position: relative;
    width: 100%;
    top: 60px;
    background: var(--fondo-imagen);
    height: 250px;
    z-index: 2;
}

.image-animada {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    top: 90px;
}

.image-animada img {
    position: relative;
    width: 80%;
    height: 80%;
}

.services{
    position: relative;
    width: 475px;
    z-index: 1;
    color: white;
    font-size: var(--title-principal-mobile);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    top: -200px;
}


/*contenedor de servicios*/

.container-services {
    z-index: 1;
    position: relative;
    width: 100%;
    top: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-services {
    padding-top: 20px;
    width: 90%;
    height: 300px;
    border-radius: 20px;
    box-shadow: 15px 15px 20px lightgray;
    display: flex;
    justify-content: center;
    background: var(--secundario);
    overflow: hidden;
    margin: 20px 0;
}
.item-services .image-services-container{
    padding-top: 50px;
}


.image-services-container {
    width: 150px;
    height: 150px;
    position: absolute;
}

.item-services .image-services-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.item-services p {
    position: absolute;
    font-size: 3rem;
    z-index: 1;
}

.item-services::after {
    content: '';
    width: 100%;
    height: 500px;
    background: var(--principal);
    position: relative;
    top: -520px;
    border-radius: 0 0 400px 400px;


}

.item-services:hover::after {
    top: -20px;
    transition: 0.5s ease-in-out all;
}

.item-services:hover {
    color: white;
    transition: 0.5s ease-in-out all;
    cursor: pointer;
}

/*footer*/
footer {
    width: 100%;
    height: 200px;
    ;
    position: relative;
    z-index: 1;
    top: 50px;
    background: #dfdedf;

}

.social-page-container {
    display: flex;
    justify-content: space-evenly;
    top: 20px;
    position: relative;
}

.image-social {
    width: 50px;
    height: 50px;
    position: relative;
}

.image-social:hover {
    scale: 1.3;
    filter: invert(60%) sepia(49%) saturate(3440%) hue-rotate(142deg) brightness(88%) contrast(101%);
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.copy {
    width: 100%;
    height: 80px;
    position: relative;

    display: flex;
    justify-content: center;
    top: 30px;
}

.copy p {
    position: relative;
    font-size: 2rem;
    top: 30px;
}

/*configuracion menu mobile*/

.container-menu-mobile{
    width: 100%;
    height: 100%;
    position: relative;
}

.profile-menu-mobile{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    
}
.image-profile-menu-mobile{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
}
.image-profile-menu-mobile img{
    width: 100%;
    position: relative;
}
.profile-menu-mobile p{
    position: relative;
    top: 150px;
    height: 40px;
    font-size: 2rem;
}

/*opciones de menu*/
.container-options{
    width: 100%;
    height: 100%;
    list-style: none;
}

.options{
    width: 100%;
    height: 80px;
}
.options-link{
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 0 32px;
    position: relative;
    transition: 0.2s all ease-in;
}
.options-link::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background: #FF9000;
    opacity: 0;
    transition: 0.2s all ease-in;
    

}
.options-link:active{
    background: #FDFF9F;
    color: #FF9000;
    
}
.options-link:hover::before{
    opacity: 1;
}

.image-icon-menu{
    width: 50px;
    height: 50px;
    left: 20px;
    margin-right: 20px;
}
.image-icon-menu img{
    width: 100%;
    height: 100%;
    position: relative;
    
}


.inactive{
    display: none;
}


@media(min-width:500px){
    .services{
        top: -290px;
    }
}








