* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Maven Pro', sans-serif;
}

body {
    width: 100%;
    height: auto;

}


:root {
    --principal: #FF9000;
    --fondo-imagen: #ff8411;
    --secundario: #FDFF9F;
    --title-principal: 5rem;
    --title-principal-mobile: 4rem;
    --slogan: 3.5rem;
    --slogan-mobile: 3.2rem;
    --title: 2.5rem;
    --subtitle: 2rem;
    --text: 1.7rem;
    --negrita: 700;
    --seminegrita: 500;
}

.navlar {
    width: 100%;
    height: 80px;
    position: absolute;
    border-bottom: 1px solid var(--principal);
    z-index: 1;
}

.container-images-navlar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.container-icon-menu {
    width: 50px;
    height: auto;
    position: relative;


}

.container-icon-menu img {
    width: 100%;
    position: relative;
    filter: invert(63%) sepia(28%) saturate(5862%) hue-rotate(351deg) brightness(101%) contrast(101%);
}

.container-icon-menu img:hover {
    filter: invert(63%) sepia(28%) saturate(5862%) hue-rotate(351deg) brightness(101%) contrast(101%);
    transition: 0.2s ease all;
}



.logo-header {
    width: 175px;
    height: auto;
    position: relative;

}

.logo {
    width: 100%;
    position: relative;
}

.container-car-icon {
    width: 50px;
    height: auto;
    position: relative;


}

.inicio-principal{
    width: 400px;
    height: 40px;
    font-size: 2.2rem;
    border-top: none;
    border-bottom: none;
    border-left: 3px solid white;
    border-right: 3px solid white;
    background: none;
    filter: invert(54%) sepia(98%) saturate(1304%) hue-rotate(359deg) brightness(100%) contrast(102%);
    -webkit-text-stroke: 1px black;
}

.logo-header{
    display: none;
}

.container-car-icon img {
    width: 100%;
    position: relative;
    filter: invert(63%) sepia(28%) saturate(5862%) hue-rotate(351deg) brightness(101%) contrast(101%);
}

.container-car-icon img:hover {
    filter: invert(63%) sepia(28%) saturate(5862%) hue-rotate(351deg) brightness(101%) contrast(101%);
    transition: 0.2s ease all;
}

.btn-navlar-container {
    display: none;

}


/*imagen principal*/
.container-image-principal{
    width: 100%;
    height: auto;
    position: absolute;
}

.container-image-principal img{
    width: 100%;

}

.title-principal{
    width: 80%;
    font-size: 7rem;
    position: relative;
    margin: 0 auto;
    top: 200px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 4px black;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

@media(min-width: 800px){
    .title-principal{
        top: 300px;
    }
}
