* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Maven Pro', sans-serif;
}

body {
    width: 100%;
    height: auto;

}


:root {
    --principal: #FF9000;
    --fondo-imagen: #ff8411;
    --secundario: #FDFF9F;
    --title-principal: 5rem;
    --title-principal-mobile: 4rem;
    --slogan: 3.5rem;
    --slogan-mobile: 3.2rem;
    --title: 2.5rem;
    --subtitle: 2rem;
    --text: 1.7rem;
    --negrita: 700;
    --seminegrita: 500;
}

.navlar {
    width: 100%;
    height: 60px;
    position: sticky;
    border-bottom: 1px solid var(--principal);
}

.container-images-navlar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.container-icon-menu {
    width: 40px;
    height: auto;
    position: relative;
}
@media(min-width: 600px){
    .container-icon-menu{
        width: 50px;
    }
    .navlar{
        height: 80px;
    }
}

.container-icon-menu img {
    width: 100%;
    position: relative;
    filter: invert(63%) sepia(28%) saturate(5862%) hue-rotate(351deg) brightness(101%) contrast(101%);
}


.logo-header {
    width: 125px;
    height: auto;
    position: relative;

}

.logo {
    width: 100%;
    position: relative;
    display: none;
}

.container-car-icon {
    width: 40px;
    height: auto;
    position: relative;
    display: none;

}

.container-car-icon img {
    width: 100%;
    position: relative;
}



.btn-navlar-container {
    display: none;

}
/*configuracion menu mobile*/

.container-menu-mobile{
    width: 100%;
    height: 100%;
    position: absolute;
}

@media(min-width:1200px){
    .container-menu-mobile{
        display: none;
    }
}

.profile-menu-mobile{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    
}
.image-profile-menu-mobile{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
}
.image-profile-menu-mobile img{
    width: 100%;
    position: relative;
}
.profile-menu-mobile p{
    position: relative;
    top: 150px;
    height: 40px;
    font-size: 2rem;
}

/*opciones de menu*/
.container-options{
    width: 100%;
    height: 100%;
    list-style: none;
}

.options{
    width: 100%;
    height: 80px;
}
.options-link{
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 0 32px;
    position: relative;
    transition: 0.2s all ease-in;
}
.options-link::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background: #FF9000;
    opacity: 0;
    transition: 0.2s all ease-in;
    

}
.options-link:active{
    background: #FDFF9F;
    color: #FF9000;
    
}
.options-link:hover::before{
    opacity: 1;
}

.image-icon-menu{
    width: 50px;
    height: 50px;
    left: 20px;
    margin-right: 20px;
}
.image-icon-menu img{
    width: 100%;
    height: 100%;
    position: relative;
    
}


.inactive{
    display: none;
}
